@using TravelTripProject.Models.Sınıflar
@model List<Blog>


<div class="con-bot">
    @foreach (var item in Model)
    {
        <div class="left">
            <div class="bot-left">
                <img src="~/Resimler/@item.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@item.Baslik</h4>
                <span class="doller">@item.Tarih.ToString("yyyy-MM-dd")</span>
                <p>
                    @if (@item.Aciklama.Length > 80) { @item.Aciklama.Substring(0, 80); }
                    else
                    { 
                        @item.Aciklama;
                    }<span>...</span>
                </p>
                <p><a href="/Blog/BlogDetay/@item.ID"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    }

    @Html.Action("Partial2", "Default")

    <div class="clear"></div>
</div>
